.py-4{
  margin-top: 27px !important;
  
}
body{
  background-color: rgba(230, 225, 225, 0.671);
}
a{
  color: #152c42;
}

a:hover{
  color: #152c42;
  text-decoration: none;
}

.invoiceBox > input {
    display: none;
  }
  .invoiceBox label {
      display: block;
  }
  .boxFile {
      display: inline-block;
    width: 100%;
    border: 1px solid grey;
    background: #fff;
    color: grey;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .boxFile:hover {
      cursor: pointer;
      background: grey;
      color: #fff;
  }
  .boxFile i {
      display: block;
      font-size: 26px;
      margin-bottom: 5px;
  }
  .attached,
  .attached:hover,
  .attached:focus {
      text-align: left;
      background: green;
    color: #fff;
    border: 1px solid green;
  }

  .tituloPrincipal{
    margin-top: 20px;
    text-align: left;    
    margin-bottom: 0px !important;
    font-size: 8px!important;
    
  }
  .tituloPrincipal-menu h5{
    margin-top: 20px;
    padding: 8px;
    text-align: center;
    background-color: rgb(230, 224, 224);
  }
  .tituloPrincipal-menu-images h5{
    margin-top: 20px;
    padding: 8px;
    text-align: center;
    
  }

  #imageModal{
    text-align: center;
    background-color: rgba(5, 5, 5, 0.685) !important;
    
    color: green;
  }

  .modal-title{
    text-align: center;
    font-size: 30px;
  }

  .modal-body{
    font-size: 18px;
    text-align: center;
  }

  #links-nav{
    margin-top: 60px;
    margin-bottom: 60px;

  }

  .pagination li {
    margin-left: .25rem;
    margin-right: .25rem;
  }
  
  .pagination li .page-link {
    border-radius: .25rem;
    border: none;
    min-width: 2.25rem;
    text-align: center;
    color: #4f5464;
  }
  
  .pagination li.active .page-link,
  .pagination li .page-link:hover {
    background-color: #24394e;
    color: #fff;
    font-weight: bold;
  }
  #suggestions {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: auto;
    position: absolute;
    top: 68px;
    z-index: 9999;
    width: 350px;
}
 
#suggestions .suggest-element {
    background-color: #EEEEEE;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
}
.meter { 
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
  margin-bottom: 25px !important;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #a1a09d;
  -webkit-animation: progressBar 10s ease-in-out;
  -webkit-animation-fill-mode:both; 
  -moz-animation: progressBar 10s ease-in-out;
  -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}

@-moz-keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}

.switchBtn {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 34px;
}
.switchBtn input {display:none;}


.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(233, 232, 232);
  -webkit-transition: .4s;
  transition: .4s;
  padding: 8px;
  color: #000000;
}
.slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 78px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slide {
  background-color: #46a6f5;
  padding-left: 40px;
}
input:focus + .slide {
  box-shadow: 0 0 1px #3490dc;
}
input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -20px;
}

.slide.round {
  border-radius: 34px;
}
.slide.round:before {
  border-radius: 50%;
}

.data-1{
  
  font-size: x-large;
}
.price{ 
  color: #f18520;
  font-weight: bolder;

}
.city{
  margin-left: 20px;
}

.city-small{
  margin-left: 8px;
}

.col-md-6.card-phone{
  height: 50%;
}
.data-caracteristicas{
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
}



.data-caracteristicas-small{
  margin-left: 22px;
  margin-right: 10px;
  padding: 5px;
  text-align: center !important;
  display:inline-flex;
  margin-bottom: 10px;
  
}

.icons{
  width: 35px;
  height: 35px;
  color: #f18520;
}

.icons-small{
  width: 25px;
  height: 25px;
}

.icons-small-2{
  width: 20px;
  height: 20px;
}

.icons-small-3{
  width: 15px;
  height: 15px;
}

.col-md-2.right-card{
  text-align: center;
  margin-top: 25px;
}

.data-1{
  margin-bottom: 10px;
}

.data-1-small{
  font-size: 14px;
  margin-bottom: 10px;
}

.data-2{
  margin-bottom: 10px;
  font-size: 18px;
}

.data-3{
  margin-bottom: 10px;
  font-size: 18px;
}

.card-phone{
width: 50%;
height: 50%;
float: left;
}
.card-mail{
  width: 50%;
  float: left;
}

.num-images{
  margin-top: 10px;
  top: auto;
  bottom: 0;
  display: block !important;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 10px;
  z-index: 1;
}

.num-images-span{
background-color: #f3f1f1ce;
color: #000000;
padding: 3px 5px;
font-size: 14px;
font-size: .7rem;
border-radius: 2px;
}

.carousel-control-prev-icon.d, .carousel-control-next-icon.d {
  margin-top: 200px !important;
  color: #f18520 i !important;
}

.card{
  border: 0px !important;
  background-color: #ffffff;
}

.card-header{
  border-radius: 0px !important;
  border-bottom: 1px solid  #3b5e80b9!important;
  background-color: #ffffff;
  color: #152c42 !important;
  font-size: large;
}

.card-header.detail{
  margin-bottom: 25px;;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #f18520;
  text-align: center;
  opacity: 0.9;
  transition: opacity 0.15s ease;
  border-radius: 3px !important;
}

.subTitle{
  padding: 7px;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
  border: 1px solid #24394e;
  color: #7c410a;
  font-size: large;
}

.search-bar{

  height: 250px;
  margin-top: 0px !important;
  margin-bottom: 25px;
  background-image: url('/alquilados/public/img/fondo-buscador.jpg');
  opacity: 0.4;
  color : #7c410a;

}
